:root {
  --primary-color: #212529;
  --secondary-color: #343a40;

  --header-card: #262a2e;

  --text-primary: #bbb;
  --text-secondary: #495057;
  --text-primary-hover: #adadad;
  --blue-color: #0d6efd;
  --blue-color-hover: #0656cf;
  --bright-white: #eee;
  --body-height: 100%;
  --body-width: 100%;
  --sidebar-width: 375px;
}

html {
  background-image: linear-gradient(
    180deg,
    var(--secondary-color),
    var(--primary-color) 100px,
    var(--primary-color)
  );
  background-color: var(--primary-color);
}

body {
  color: var(--text-primary);
  background-image: inherit;
  padding: 1em;
}

a {
  color: var(--text-primary);
  text-decoration: unset;
}

.cont {
  /* width: 960px; */
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 0.75em;
}

/* .row > * {
  padding-right: 0;
  padding-left: 0;
} */
/* header,
main,
footer {
  width: 960px;
} */

main h2 {
  margin: 2em 0em;
  text-align: center;
}

.title {
  display: inline-flex;
  align-items: center;
  font-size: 1.5em;
  cursor: pointer;
  width: 230px;
  justify-content: space-between;
}

.title svg {
  width: 52px;
}

.navbar:nth-child(1) {
  padding-bottom: 0;
}

.navbar:nth-child(2) a {
  margin: 0 1em;
}

.hamburger-icon {
  display: none;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  /* height: var(--body-height); */
  height: 100svh;
  width: var(--sidebar-width);
  background-color: azure;
  padding: 0.5em 0;
  transform: translateX(100%);
  transition: transform 0.3s ease-out;
  overflow: hidden;
}

.sidebar-body-scrollable {
  display: flex;
  gap: 2em;
  width: 209%;
  height: 88svh;
}

.sidebar-open {
  transform: translateX(0);
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 0.5em 0; */
  padding: 0.75em;
  border-bottom: 1px solid var(--text-primary);
}

.sidebar-body {
  padding: 0 0.75em;
  transform: translateX(0%);
  transition: transform 0.3s ease-out;
  /* height: 90svh; */
  /* position: relative; */
}

.sidebar-footer {
  height: 50px;
  line-height: 35px;
}

.sidebar-body ul {
  list-style: none;
  padding: 0;
  width: calc(375px - 2em);
}

.sidebar-body-showMore {
  transform: translateX(-99%);
}

.sidebar-body ul:first-child li {
  cursor: pointer;
  padding: 0.75em 0.5em;
  border-bottom: 1px solid var(--text-primary);
  display: flex;
}

.sidebar-body-submenu-2 {
  overflow-y: scroll;
  scrollbar-color: transparent transparent;
}

.sidebar-body-submenu-2 span {
  padding: 1em 0.5em;
  border-bottom: 1px solid var(--text-primary);
}

.sidebar-body-submenu-2 span i {
  vertical-align: middle;
}

.sidebar-body-submenu-2 ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.sidebar-body-submenu-2 ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-body ul:first-child li:first-child span {
  width: 100%;
}

.sidebar-body ul:nth-child(2) li {
  width: 50%;
  height: 300px;
}

.sidebar-body ul:first-child li a {
  font-size: 22px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.fa-chevron-right,
.fa-chevron-left {
  font-size: 22px;
  align-self: center;
}

.sidebar-header span {
  font-size: 22px;
}

.sidebar-header i {
  font-size: 32px;
  cursor: pointer;
}

.hamburger-icon svg {
  fill: var(--bright-white);
  width: 24px;
}

.pricing-header {
  text-align: center;
  padding: 2em 2em;
  max-width: 700px;
  margin: 0 auto;
}

.card {
  border: 1px solid var(--text-primary-hover);
  background-color: var(--primary-color);
}

.border-primary {
  border: 1px solid var(--blue-color);
}

.card-header {
  border-bottom: 1px solid var(--text-primary);
}

.card-header h4 {
  font-size: 1em;
}

.col:nth-child(3) .card-header {
  background-color: var(--blue-color);
  border-bottom-color: var(--blue-color);
}

.card-header h4 {
  text-align: center;
  color: var(--bright-white);
  margin-bottom: 0;
  padding: 0.2em;
}

.card-body {
  padding: 1rem;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-body h5 {
  font-size: 2.5em;
  text-align: center;
}
.card-body button {
  width: 90%;
  margin: 0 auto;
  display: block;
}

tr {
  height: 55px;
}

th,
td {
  padding: 0 !important;
  vertical-align: middle;
}

thead th,
tbody td {
  text-align: center;
}

.check-icon {
  width: 32px;
}

.check-icon path {
  fill: var(--text-primary);
}

.table {
  color: var(--text-primary);
}

footer {
  margin: 2em 0;
  border-top: 1px solid var(--text-primary);
  width: 100%;
}

footer .row {
  margin-top: 3em;
}

footer .row .col-8 .row .col {
  display: flex;
  justify-content: center;
}

footer .row .col-8 .row .col {
  width: 50%;
}

footer .row .col-8 .row .col ul {
  padding-left: 0;
  list-style: none;
}

.body-modal {
  overflow-y: hidden;
  background-color: rgba(33, 37, 41, 0.8);
}

/* @media screen and (max-width: 1320px)  */

@media screen and (max-width: 900px) {
  .row {
    gap: 3em;
  }

  .row-cols-1 > * {
    width: 90%;
    margin: 0 auto;
  }
  .pricing-header {
    margin: 2em auto;
  }

  .title {
    margin: 0 auto;
    justify-content: center;
  }

  .title svg {
    margin-right: 0.5em;
  }

  main h2 {
    text-align: center;
  }

  .table-responsive {
    width: 90%;
    margin: 0 auto;
  }

  .navbar:nth-child(2) {
    margin: 0 auto;
  }

  .navbar:nth-child(2) a {
    margin: 0 0.3em;
  }
  .check-icon {
    width: 22px;
  }

  footer {
    border-top: unset;
    width: 90%;
  }

  footer .row {
    gap: 1em;
  }

  footer .row .col-4 {
    width: 90%;
    margin: 0 auto;
  }

  footer .row .col-8 {
    width: 90%;
    margin: 0 auto;
  }

  footer .row .col-8 .row {
    gap: 1em;
  }

  footer .row .col-8 .row .col {
    flex: 0 0 47%;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 600px) {
  .row-cols-1 > * {
    width: 100%;
    margin: 0 auto;
  }

  .pricing-header {
    margin: 1em auto;
  }

  .title {
    width: 90%;
  }

  footer {
    width: 90%;
  }

  .hamburger-icon {
    display: grid;
  }
}

@media screen and (max-width: 400px) {
  footer .row {
    margin-top: 0;
  }
}
